html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.page {
  background-color: #19202a;
}
.page .header {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.page .header .bg-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .header .fixed-btn-page {
  position: absolute;
  position: fixed;
  top: 500px;
  z-index: 8;
  bottom: 0px;
  width: 100px;
  height: 25px;
  right: 100px;
}
.page .header .fixed-btn-page .fixed-btn {
  background: #01b1f8;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 15px 15px;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 100%;
  text-decoration: none;
}
.page .header .fixed-btn-page .fixed-btn:hover {
  background: #0d749c;
}
.page .header .fixed-btn-page .fixed-btn:active {
  transform: scale(0.95);
}
.page .header .top-header {
  position: relative;
  z-index: 1;
  padding-top: 50px;
}
.page .header .top-header .logo {
  display: inline-block;
  color: #fff;
  float: left;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
}
.page .header .top-header .menu {
  display: inline-block;
  padding-left: 100px;
  padding-top: 20px;
}
.page .header .top-header .menu ul li {
  display: inline-block;
  padding-right: 20px;
}
.page .header .top-header .menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.page .header .top-header .menu ul li a:hover {
  color: #32b4ff;
}
.page .header .top-header .social-network {
  display: inline-block;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.page .header .top-header .social-network .vk {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
}
.page .header .top-header .social-network .dribble {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}
.page .header .down-header {
  text-align: center;
  padding: 200px 100px 0px 100px;
  position: relative;
  z-index: 1;
  height: 60vh;
}
.page .header .down-header .title-down-header {
  font-size: 30px;
  color: #fff;
  line-height: 170%;
  padding-bottom: 20px;
}
.page .header .down-header .btn-down-header {
  padding-top: 20px;
}
.page .header .down-header .btn-down-header .presention .btn-presention {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .header .down-header .btn-down-header .presention .btn-presention:hover {
  background-color: #0375a1;
}
.page .header .down-header .btn-down-header .presention .btn-presention:active {
  transform: scale(0.95);
}
.page .header .down-header .btn-down-header .us-work {
  padding-left: 20px;
}
.page .header .down-header .btn-down-header .us-work .btn-us-work {
  background: #19202a;
  outline: none;
  border: 0;
  padding: 10px 35px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .header .down-header .btn-down-header .us-work .btn-us-work:hover {
  background-color: #0375a1;
}
.page .header .down-header .btn-down-header .us-work .btn-us-work:active {
  transform: scale(0.95);
}
.page .directions {
  padding-bottom: 50px;
}
.page .directions .title-directions {
  text-align: center;
  padding-top: 50px;
}
.page .directions .title-directions .first-title-directions {
  color: #01b1f8;
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
}
.page .directions .title-directions .second-title-directions {
  color: #fff;
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
}
.page .directions .cards {
  display: flex;
  padding-top: 50px;
}
.page .directions .cards .card {
  text-align: center;
  padding: 0px 20px;
}
.page .directions .cards .card .icon {
  color: #0d749c;
  font-size: 40px;
}
.page .directions .cards .card .title-card {
  color: #fff;
  font-size: 25px;
  padding: 20px 0px;
}
.page .directions .cards .card .text-card {
  color: #828fa2;
  font-size: 16px;
  line-height: 170%;
}
.page .directions .btn-directions {
  text-align: center;
  padding: 50px 0px;
}
.page .directions .btn-directions .btn-overlay .btn-directions-content {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .directions .btn-directions .btn-overlay .btn-directions-content:hover {
  background-color: #0375a1;
}
.page .directions .btn-directions .btn-overlay .btn-directions-content:active {
  transform: scale(0.95);
}
.page .strategy {
  background-color: #1d2733;
}
.page .strategy .content-strategy {
  display: flex;
  justify-content: space-between;
}
.page .strategy .content-strategy .description-strategy {
  padding-top: 100px;
  position: relative;
}
.page .strategy .content-strategy .description-strategy .vertical-title-strategy {
  color: #828fa2;
  text-transform: uppercase;
  font-size: 50px;
  z-index: 5;
  top: 0px;
  left: 0px;
  right: 430px;
  bottom: 50px;
  position: absolute;
  transform: rotate(270deg);
}
.page .strategy .content-strategy .description-strategy .title-strategy {
  width: 100%;
  padding-bottom: 20px;
}
.page .strategy .content-strategy .description-strategy .title-strategy .first-title-strategy {
  font-size: 30px;
  color: #24c271;
  padding-bottom: 20px;
}
.page .strategy .content-strategy .description-strategy .title-strategy .second-title-strategy {
  font-size: 30px;
  color: #fff;
  padding-bottom: 20px;
}
.page .strategy .content-strategy .description-strategy .text-strategy {
  line-height: 170%;
  font-size: 16px;
  justify-items: center;
  color: #828fa2;
}
.page .strategy .content-strategy img {
  height: 100%;
  width: 45%;
}
.page .ux-design {
  display: flex;
  background-color: #1d2733;
}
.page .ux-design .content-ux-design {
  display: flex;
}
.page .ux-design .content-ux-design .img-ux-design {
  width: 50%;
}
.page .ux-design .content-ux-design .description-ux-design {
  padding-top: 100px;
  position: relative;
}
.page .ux-design .content-ux-design .description-ux-design .title-ux-design {
  width: 35%;
  padding-bottom: 20px;
}
.page .ux-design .content-ux-design .description-ux-design .title-ux-design .first-part-title {
  color: #fff;
  font-size: 30px;
}
.page .ux-design .content-ux-design .description-ux-design .title-ux-design .second-part-title {
  color: #01b1f8;
  font-size: 30px;
  padding-bottom: 20px;
}
.page .ux-design .content-ux-design .description-ux-design .text-ux-design {
  line-height: 170%;
  font-size: 16px;
  color: #828fa2;
}
.page .ux-design .content-ux-design .vertical-title-design {
  color: #828fa2;
  text-transform: uppercase;
  font-size: 50px;
  z-index: 5;
  bottom: 250px;
  right: -35px;
  position: absolute;
  transform: translate(55%) rotate(90deg);
}
.page .technologies {
  padding-bottom: 100px;
  background-color: #1d2733;
}
.page .technologies .content-technologies {
  display: flex;
  position: relative;
}
.page .technologies .content-technologies .vertica-text {
  color: #828fa2;
  text-transform: uppercase;
  font-size: 50px;
  z-index: 5;
  top: 110px;
  left: -250px;
  position: absolute;
  transform: rotate(270deg);
}
.page .technologies .content-technologies .description-technologies {
  padding: 50px 0px;
}
.page .technologies .content-technologies .description-technologies .title-description-technologies {
  padding-bottom: 20px;
}
.page .technologies .content-technologies .description-technologies .title-description-technologies .first-title-description {
  font-size: 30px;
  color: #fff;
}
.page .technologies .content-technologies .description-technologies .title-description-technologies .second-title-description {
  color: #f5b327;
  font-size: 30px;
}
.page .technologies .content-technologies .description-technologies .text-description-technologies {
  line-height: 170%;
  font-size: 16px;
  padding-right: 100px;
  color: #828fa2;
  padding-bottom: 120px;
}
.page .technologies .content-technologies .img-technologies {
  width: 40%;
  height: 100%;
}
.page .service-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/services.jpeg);
  position: relative;
}
.page .service-section .bg-service-section-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .service-section .content {
  position: relative;
  top: 0;
  padding: 250px 0px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.page .service-section .content .first-description .title-first-description {
  font-size: 25px;
  padding-bottom: 20px;
  color: #828fa2;
}
.page .service-section .content .first-description .title-second-description .default-color {
  font-size: 30px;
  color: #fff;
  padding-left: 10px;
}
.page .service-section .content .first-description .title-second-description .special-color {
  color: #01b1f8;
  font-size: 30px;
}
.page .service-section .content .first-description .text-service {
  color: #828fa2;
  font-size: 18px;
  width: 50%;
  padding-left: 25%;
  line-height: 170%;
  padding-bottom: 50px;
}
.page .project-about {
  padding-bottom: 100px;
}
.page .project-about .title-project-about {
  text-align: center;
  padding: 100px 0px 20px 0px;
}
.page .project-about .title-project-about .first-title-project-about {
  font-size: 25px;
  color: #01b1f8;
}
.page .project-about .title-project-about .second-title-project-about {
  font-size: 25px;
  color: #fff;
}
.page .project-about .content {
  display: flex;
  justify-content: space-around;
}
.page .project-about .content .card {
  width: 30%;
}
.page .project-about .content .card .img-card {
  height: 200px;
  width: 100%;
}
.page .project-about .content .card .description-card {
  text-align: center;
}
.page .project-about .content .card .description-card .title-card {
  padding: 20px 0px;
}
.page .project-about .content .card .description-card .title-card .first-title-description-card {
  font-size: 20px;
  color: #fff;
}
.page .project-about .content .card .description-card .title-card .second-title-description-card {
  font-size: 20px;
  color: #01b1f8;
}
.page .project-about .content .card .description-card .title-card .green {
  font-size: 20px;
  color: #24c271;
}
.page .project-about .content .card .description-card .title-card .white {
  color: #fff;
  font-size: 20px;
}
.page .project-about .content .card .description-card .title-card .blue-text {
  font-size: 20px;
  color: #01b1f8;
}
.page .project-about .content .card .description-card .text-card {
  line-height: 170%;
  color: #828fa2;
  padding-bottom: 20px;
}
.page .project-about .content .card .go-to {
  text-decoration: none;
  color: #0d749c;
  font-size: 18px;
  padding-left: 45%;
}
.page .analytics {
  background-image: url(../img/services.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page .analytics .bg-blue-analytics {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .analytics .content {
  position: relative;
  top: 0;
  padding: 100px 0px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.page .analytics .content .description-analytics .title-analytics {
  padding-bottom: 20px;
}
.page .analytics .content .description-analytics .title-analytics .first-part-title-analitycs {
  font-size: 30px;
  color: #fff;
}
.page .analytics .content .description-analytics .title-analytics .second-part-title-analitycs {
  color: #01b1f8;
  font-size: 30px;
}
.page .analytics .content .description-analytics .title-analytics .three-part-title-analitycs {
  font-size: 30px;
  color: #fff;
}
.page .analytics .content .description-analytics .text-analytics {
  color: #828fa2;
  font-size: 16px;
  line-height: 170%;
  width: 50%;
  padding-left: 25%;
  padding-bottom: 20px;
}
.page .analytics .content .btn-analytics {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s ease;
}
.page .analytics .content .btn-analytics:hover {
  background-color: #0375a1;
}
.page .analytics .content .btn-analytics:active {
  transform: scale(0.95);
}
.page .presention-us-project {
  padding: 50px 0px;
}
.page .presention-us-project .header-presention-us-project {
  text-align: center;
  padding-top: 50px;
}
.page .presention-us-project .header-presention-us-project .title-presention-us-project {
  padding-bottom: 20px;
}
.page .presention-us-project .header-presention-us-project .title-presention-us-project .first-title-presention-us-project {
  color: #fff;
  font-size: 30px;
  padding-right: 5px;
}
.page .presention-us-project .header-presention-us-project .title-presention-us-project .second-title-presention-us-project {
  color: #01b1f8;
  font-size: 30px;
}
.page .presention-us-project .header-presention-us-project .btn-view-portfolio {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s ease;
}
.page .presention-us-project .header-presention-us-project .btn-view-portfolio:hover {
  background-color: #0375a1;
}
.page .presention-us-project .header-presention-us-project .btn-view-portfolio:active {
  transform: scale(0.95);
}
.page .presention-us-project .img-presention-us-project {
  width: 100%;
}
.page .leader-areas {
  background-image: url(../img/services.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page .leader-areas .bg-blue-leader-areas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .leader-areas .content {
  position: relative;
  top: 0;
  padding: 100px 0px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.page .leader-areas .content .header-leader-areas .first-title-header-leader-areas {
  font-size: 30px;
  color: #fff;
  padding-right: 10px;
}
.page .leader-areas .content .header-leader-areas .second-title-header-leader-areas {
  font-size: 30px;
  color: #01b1f8;
  padding-right: 10px;
}
.page .leader-areas .content .header-leader-areas .three-title-header-leader-areas {
  font-size: 30px;
  color: #fff;
}
.page .leader-areas .content .down-leader-areas .down-leader-areas-first {
  display: flex;
  justify-content: space-around;
}
.page .leader-areas .content .down-leader-areas .down-leader-areas-first img {
  height: 90px;
  max-width: 100%;
  padding-bottom: 50px;
}
.page .leader-areas .content .down-leader-areas .down-leader-areas-second {
  display: flex;
  justify-content: space-around;
}
.page .leader-areas .content .down-leader-areas .down-leader-areas-second img {
  height: 90px;
  max-width: 100%;
  padding-bottom: 50px;
}
.page .footer .content .top-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0px 50px 0px;
}
.page .footer .content .top-footer .main-info {
  width: 23%;
}
.page .footer .content .top-footer .main-info .title-main-info {
  color: #fff;
  padding-bottom: 20px;
  width: 130px;
  font-size: 20px;
}
.page .footer .content .top-footer .main-info .text-main-info .first-text {
  line-height: 150%;
  font-size: 16px;
  padding-bottom: 20px;
  color: #67768d;
}
.page .footer .content .top-footer .main-info .text-main-info .second-text {
  line-height: 150%;
  color: #67768d;
  border-left: 3px solid #32b4ff;
  font-size: 16px;
  padding-left: 10px;
}
.page .footer .content .top-footer .page-nav {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .footer .content .top-footer .page-nav .title-page {
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
  color: #fff;
}
.page .footer .content .top-footer .page-nav .menu {
  padding-top: 20px;
  padding-left: 50px;
}
.page .footer .content .top-footer .page-nav .menu li {
  list-style: outside;
  color: #838e9e;
  padding-bottom: 10px;
}
.page .footer .content .top-footer .page-nav .menu li a {
  text-decoration: none;
  color: #67768d;
  transition: all 0.3s ease;
}
.page .footer .content .top-footer .page-nav .menu li a:hover {
  color: #32b4ff;
}
.page .footer .content .top-footer .info {
  width: 23%;
}
.page .footer .content .top-footer .info .title-info {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}
.page .footer .content .top-footer .info ul {
  padding-left: 20px;
}
.page .footer .content .top-footer .info ul li {
  list-style: outside;
  padding-bottom: 20px;
  color: #838e9e;
}
.page .footer .content .top-footer .info ul li a {
  text-decoration: none;
  color: #67768d;
  transition: all 0.3s ease;
}
.page .footer .content .top-footer .info ul li a:hover {
  color: #32b4ff;
}
.page .footer .content .top-footer .word-form {
  width: 23%;
}
.page .footer .content .top-footer .word-form .title-word-form {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 30px;
}
.page .footer .content .top-footer .word-form .btn-form {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 50px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .footer .content .top-footer .word-form .btn-form:hover {
  background-color: #0375a1;
}
.page .footer .content .top-footer .word-form .btn-form:active {
  transform: scale(0.95);
}
.page .footer .content .top-footer .word-form .text-word-form {
  padding-top: 30px;
  color: #67768d;
  font-size: 16px;
  line-height: 150%;
}
.page .footer .content .down-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}
.page .footer .content .down-footer .text-down-footer {
  color: #828fa2;
}
.page .footer .content .down-footer .social-network-footer {
  display: flex;
}
.page .footer .content .down-footer .social-network-footer .vk-footer {
  display: flex;
  text-decoration: none;
  padding-right: 20px;
  color: #67768d;
}
.page .footer .content .down-footer .social-network-footer .vk-footer .vk-name-footer {
  color: #67768d;
  padding-left: 20px;
}
.page .footer .content .down-footer .social-network-footer .dribble-footer {
  display: flex;
  text-decoration: none;
  color: #67768d;
}
.page .footer .content .down-footer .social-network-footer .dribble-footer .dribble-name-footer {
  color: #67768d;
  padding-left: 20px;
}
