html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.page {
  background-color: #19202a;
}
.page .header {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.page .header .bg-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .header .fixed-btn-page {
  position: absolute;
  position: fixed;
  top: 500px;
  z-index: 8;
  bottom: 0px;
  left: 0;
  right: 100px;
  text-align: end;
}
.page .header .fixed-btn-page .fixed-btn {
  background: #01b1f8;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 15px 15px;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 100%;
  text-decoration: none;
}
.page .header .fixed-btn-page .fixed-btn:hover {
  background: #0d749c;
}
.page .header .fixed-btn-page .fixed-btn:active {
  transform: scale(0.95);
}
.page .header .top-header {
  padding: 50px;
  position: relative;
  z-index: 1;
}
.page .header .top-header .logo {
  display: inline-block;
  color: #fff;
  float: left;
  width: 130px;
  font-size: 20px;
}
.page .header .top-header .menu {
  display: inline-block;
  padding-left: 150px;
  padding-top: 20px;
}
.page .header .top-header .menu ul li {
  display: inline-block;
  padding-right: 25px;
}
.page .header .top-header .menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.page .header .top-header .menu ul li a:hover {
  color: #32b4ff;
}
.page .header .top-header .social-network {
  display: inline-block;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.page .header .top-header .social-network .vk {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
}
.page .header .top-header .social-network .dribble {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}
.page .header .down-header {
  text-align: center;
  padding: 200px 0px;
  position: relative;
  z-index: 1;
}
.page .header .down-header .title-down-header {
  font-size: 30px;
  color: #fff;
  line-height: 170%;
  padding-bottom: 20px;
}
.page .header .down-header .btn-down-header .presention .btn-presention {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .header .down-header .btn-down-header .presention .btn-presention:hover {
  background-color: #0375a1;
}
.page .header .down-header .btn-down-header .presention .btn-presention:active {
  transform: scale(0.95);
}
.page .header .down-header .btn-down-header .us-work {
  padding-left: 20px;
}
.page .header .down-header .btn-down-header .us-work .btn-us-work {
  background: #19202a;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .header .down-header .btn-down-header .us-work .btn-us-work:hover {
  background-color: #0375a1;
}
.page .header .down-header .btn-down-header .us-work .btn-us-work:active {
  transform: scale(0.95);
}
.page .directions .title-directions {
  color: #fff;
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
}
.page .directions .cards {
  display: flex;
  padding-top: 50px;
}
.page .directions .cards .card {
  text-align: center;
  padding: 0px 30px;
}
.page .directions .cards .card .icon {
  color: #0d749c;
  font-size: 40px;
}
.page .directions .cards .card .title-card {
  color: #fff;
  font-size: 25px;
  padding: 20px 0px;
}
.page .directions .cards .card .text-card {
  color: #828fa2;
  font-size: 16px;
  line-height: 170%;
}
.page .directions .btn-directions {
  text-align: center;
  padding: 20px 0px;
}
.page .directions .btn-directions .btn-overlay .btn-directions-content {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .directions .btn-directions .btn-overlay .btn-directions-content:hover {
  background-color: #0375a1;
}
.page .directions .btn-directions .btn-overlay .btn-directions-content:active {
  transform: scale(0.95);
}
.page .strategy {
  background-color: #1d2733;
  display: flex;
  justify-content: space-between;
}
.page .strategy .description-strategy {
  align-self: center;
  width: 30%;
  padding-left: 50px;
}
.page .strategy .description-strategy .title-strategy {
  font-size: 30px;
  color: #fff;
  padding-bottom: 20px;
}
.page .strategy .description-strategy .text-strategy {
  line-height: 170%;
  font-size: 16px;
  color: #828fa2;
}
.page .strategy img {
  width: 50%;
}
.page .ux-design {
  padding: 50px 0px;
  display: flex;
}
.page .ux-design .img-ux-design {
  width: 50%;
}
.page .ux-design .description-ux-design {
  padding-top: 100px;
}
.page .ux-design .description-ux-design .title-ux-design .first-part-title {
  color: #fff;
  font-size: 30px;
}
.page .ux-design .description-ux-design .title-ux-design .second-part-title {
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
}
.page .ux-design .description-ux-design .text-ux-design {
  width: 70%;
  line-height: 170%;
  font-size: 16px;
  color: #828fa2;
}
.page .technologies {
  display: flex;
}
.page .technologies .vertica-text {
  color: #828fa2;
  text-transform: uppercase;
  font-size: 50px;
  transform: rotate(270deg);
}
.page .technologies .description-technologies .title-description-technologies {
  font-size: 30px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}
.page .technologies .description-technologies .text-description-technologies {
  line-height: 170%;
  font-size: 16px;
  padding-right: 100px;
  color: #828fa2;
  padding-bottom: 120px;
}
.page .technologies .img-technologies {
  width: 40%;
}
.page .service-section .description .title-first {
  font-size: 30px;
  color: #828fa2;
}
.page .service-section .description .title-second {
  font-size: 30px;
  color: #fff;
}
