html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.page {
  background: #1d2733;
}
.page .client {
  padding: 50px 0px 0px 0px;
  overflow: hidden;
}
.page .client .title-client {
  text-align: center;
  padding-bottom: 50px;
}
.page .client .title-client .title-standart-color {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.page .client .title-client .title-blue-color {
  color: #01b1f8;
  font-size: 30px;
  font-weight: bold;
}
.page .client .small-academy-scenice {
  padding-bottom: 80px;
  overflow: hidden;
}
.page .client .small-academy-scenice .content {
  display: flex;
  justify-content: space-between;
}
.page .client .small-academy-scenice .content .description {
  width: 30%;
  align-self: center;
}
.page .client .small-academy-scenice .content .description .title-description-academy {
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.page .client .small-academy-scenice .content .description .text-description-academy {
  line-height: 170%;
  color: #67768d;
  padding-bottom: 20px;
}
.page .client .small-academy-scenice .content .img-description-academy {
  width: 50%;
  filter: brightness(80%);
  transition: all 0.3s ease;
}
.page .client .small-academy-scenice .content .img-description-academy:hover {
  filter: brightness(100%);
}
.page .client .ONPU {
  padding-bottom: 50px;
  overflow: hidden;
}
.page .client .ONPU .content {
  display: flex;
  justify-content: space-between;
}
.page .client .ONPU .content .img-onpu {
  width: 50%;
  filter: brightness(80%);
  transition: all 0.3s ease;
}
.page .client .ONPU .content .img-onpu:hover {
  filter: brightness(100%);
}
.page .client .ONPU .content .description-onpu {
  align-self: center;
  width: 30%;
}
.page .client .ONPU .content .description-onpu .title-description-onpu {
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}
.page .client .ONPU .content .description-onpu .text-description-onpu {
  line-height: 170%;
  color: #67768d;
  padding-bottom: 20px;
}
.page .client .view-portfolio {
  background-image: url(../img/project-work-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 200px 0;
  background-repeat: no-repeat;
}
.page .client .view-portfolio .bg-blue {
  background: rgba(29, 39, 51, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.page .client .view-portfolio .content-view-portfolio {
  position: relative;
  z-index: 5;
  text-align: center;
}
.page .client .view-portfolio .content-view-portfolio .title-view-portfolio {
  font-size: 30px;
  color: #fff;
}
.page .client .view-portfolio .content-view-portfolio .all-button {
  margin-top: 40px;
}
