html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.page {
  background: #1d2733;
}
.page .client .title-client {
  text-align: center;
  padding-bottom: 50px;
}
.page .client .title-client .title-standart-color {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.page .client .title-client .title-blue-color {
  color: #01b1f8;
  font-size: 30px;
  font-weight: bold;
}
.page .client .small-academy-scenice {
  display: flex;
  justify-content: space-between;
}
.page .client .small-academy-scenice .description {
  width: 30%;
  align-self: center;
  padding-left: 50px;
}
.page .client .small-academy-scenice .description .title-description-academy {
  font-size: 25px;
  padding-bottom: 20px;
  color: #fff;
}
.page .client .small-academy-scenice .description .text-description-academy {
  line-height: 170%;
  color: #67768d;
  font-size: 16px;
  padding-bottom: 20px;
}
.page .client .small-academy-scenice .description .btn-description-academy {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .client .small-academy-scenice .description .btn-description-academy:hover {
  background-color: #0375a1;
}
.page .client .small-academy-scenice .description .btn-description-academy:active {
  transform: scale(0.95);
}
.page .client .small-academy-scenice .img-description-academy {
  width: 50%;
  filter: brightness(80%);
  transition: all 0.3s ease;
}
.page .client .small-academy-scenice .img-description-academy:hover {
  filter: brightness(100%);
}
.page .client .ONPU {
  display: flex;
  padding-bottom: 50px;
}
.page .client .ONPU .img-onpu {
  width: 50%;
  filter: brightness(80%);
  transition: all 0.3s ease;
}
.page .client .ONPU .img-onpu:hover {
  filter: brightness(100%);
}
.page .client .ONPU .description-onpu {
  align-self: center;
  width: 30%;
  padding-left: 100px;
}
.page .client .ONPU .description-onpu .title-description-onpu {
  font-size: 25px;
  color: #fff;
  padding-bottom: 20px;
}
.page .client .ONPU .description-onpu .text-description-onpu {
  line-height: 170%;
  color: #67768d;
  font-size: 16px;
  padding-bottom: 20px;
}
.page .client .ONPU .description-onpu .btn-description-onpu {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .client .ONPU .description-onpu .btn-description-onpu:hover {
  background-color: #0375a1;
}
.page .client .ONPU .description-onpu .btn-description-onpu:active {
  transform: scale(0.95);
}
.page .client .view-portfolio {
  background-image: url(../img/project-work-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page .client .view-portfolio .bg-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #19222c;
  left: 0;
  opacity: 0.8;
  right: 0;
}
.page .client .view-portfolio .content-view-portfolio {
  padding: 200px 0px;
  text-align: center;
  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.page .client .view-portfolio .content-view-portfolio .title-view-portfolio {
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
}
.page .client .view-portfolio .content-view-portfolio .btn-view-portfolio {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .client .view-portfolio .content-view-portfolio .btn-view-portfolio:hover {
  background-color: #0375a1;
}
.page .client .view-portfolio .content-view-portfolio .btn-view-portfolio:active {
  transform: scale(0.95);
}
