html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.page {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.page .bg-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .content {
  position: relative;
  top: 0;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
}
.page .content .fixed-btn-page {
  position: absolute;
  position: fixed;
  top: 500px;
  z-index: 8;
  bottom: 0px;
  left: 0;
  right: 100px;
  text-align: end;
}
.page .content .fixed-btn-page .fixed-btn {
  background: #01b1f8;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 15px 15px;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 100%;
  text-decoration: none;
}
.page .content .fixed-btn-page .fixed-btn:hover {
  background: #0d749c;
}
.page .content .fixed-btn-page .fixed-btn:active {
  transform: scale(0.95);
}
.page .content .header {
  padding: 50px 0px;
}
.page .content .header .logo {
  display: inline-block;
  color: #fff;
  float: left;
  width: 130px;
  font-size: 20px;
}
.page .content .header .menu {
  display: inline-block;
  padding-left: 150px;
  padding-top: 20px;
}
.page .content .header .menu ul li {
  display: inline-block;
  padding-right: 25px;
}
.page .content .header .menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.page .content .header .menu ul li a:hover {
  color: #32b4ff;
}
.page .content .header .social-network {
  display: inline-block;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.page .content .header .social-network .vk {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
}
.page .content .header .social-network .dribble {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}
.page .content .contact-us {
  display: flex;
  flex-direction: column;
}
.page .content .contact-us .title-contact-us {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.page .content .contact-us .info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-top: 50px;
  align-self: center;
}
.page .content .contact-us .info .vk-contact {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .vk-contact .text-vk-contact {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .contact-us .info .phone {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .phone .text-phone {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .contact-us .info .sms {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .sms .text-sms {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .contact-us .info .gps {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .gps .text-gps {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .form-send-message {
  padding-left: 25%;
}
.page .content .form-send-message form {
  background-color: #19202a;
  width: 50%;
  padding: 60px;
}
.page .content .form-send-message form .input {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 50px 0px;
}
.page .content .form-send-message form .input span {
  color: #fff;
}
.page .content .form-send-message form .input span input {
  color: #fff;
  background-color: #19202a;
  outline: none;
  border: 0;
  padding-left: 20px;
}
.page .content .form-send-message form textarea {
  width: 100%;
  background-color: #19202a;
  border: 1px solid #323841;
  outline: none;
}
.page .content .form-send-message form .btn {
  text-align: end;
}
.page .content .form-send-message form .btn .btn-form {
  background: #01b1f8;
  outline: none;
  border: 0;
  cursor: pointer;
  align-self: flex-end;
  width: 100px;
  height: 50px;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.page .content .form-send-message form .btn .btn-form:hover {
  background: #0d749c;
}
.page .content .form-send-message form .btn .btn-form:active {
  transform: scale(0.95);
}
.page .content .footer .top-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0px 20px 0px;
}
.page .content .footer .top-footer .main-info {
  width: 23%;
}
.page .content .footer .top-footer .main-info .title-main-info {
  color: #fff;
  padding-bottom: 20px;
  width: 130px;
  font-size: 20px;
}
.page .content .footer .top-footer .main-info .text-main-info .first-text {
  line-height: 150%;
  font-size: 16px;
  padding-bottom: 20px;
  color: #67768d;
}
.page .content .footer .top-footer .main-info .text-main-info .second-text {
  line-height: 150%;
  color: #67768d;
  border-left: 3px solid #32b4ff;
  font-size: 16px;
  padding-left: 10px;
}
.page .content .footer .top-footer .page-nav {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .content .footer .top-footer .page-nav .title-page {
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
  color: #fff;
}
.page .content .footer .top-footer .page-nav .menu {
  padding-top: 20px;
  padding-left: 50px;
}
.page .content .footer .top-footer .page-nav .menu li {
  list-style: outside;
  color: #838e9e;
  padding-bottom: 10px;
}
.page .content .footer .top-footer .page-nav .menu li a {
  text-decoration: none;
  color: #67768d;
  transition: all 0.3s ease;
}
.page .content .footer .top-footer .page-nav .menu li a:hover {
  color: #32b4ff;
}
.page .content .footer .top-footer .info {
  width: 23%;
}
.page .content .footer .top-footer .info .title-info {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}
.page .content .footer .top-footer .info ul {
  padding-left: 20px;
}
.page .content .footer .top-footer .info ul li {
  list-style: outside;
  padding-bottom: 20px;
  color: #838e9e;
}
.page .content .footer .top-footer .info ul li a {
  text-decoration: none;
  color: #67768d;
  transition: all 0.3s ease;
}
.page .content .footer .top-footer .info ul li a:hover {
  color: #32b4ff;
}
.page .content .footer .top-footer .word-form {
  width: 23%;
}
.page .content .footer .top-footer .word-form .title-word-form {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 30px;
}
.page .content .footer .top-footer .word-form .btn-form {
  background-color: #01b1f8;
  outline: none;
  border: 0;
  padding: 10px 50px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.page .content .footer .top-footer .word-form .btn-form:hover {
  background-color: #0375a1;
}
.page .content .footer .top-footer .word-form .btn-form:active {
  transform: scale(0.95);
}
.page .content .footer .top-footer .word-form .text-word-form {
  padding-top: 30px;
  color: #67768d;
  font-size: 16px;
  line-height: 150%;
}
.page .content .footer .down-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}
.page .content .footer .down-footer .text-down-footer {
  color: #828fa2;
}
.page .content .footer .down-footer .social-network-footer {
  display: flex;
}
.page .content .footer .down-footer .social-network-footer .vk-footer {
  display: flex;
  text-decoration: none;
  padding-right: 20px;
  color: #67768d;
}
.page .content .footer .down-footer .social-network-footer .vk-footer .vk-name-footer {
  color: #67768d;
  padding-left: 20px;
}
.page .content .footer .down-footer .social-network-footer .dribble-footer {
  display: flex;
  text-decoration: none;
  color: #67768d;
}
.page .content .footer .down-footer .social-network-footer .dribble-footer .dribble-name-footer {
  color: #67768d;
  padding-left: 20px;
}
