html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.page {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.page .bg-blue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(29, 39, 51, 0.9);
}
.page .content {
  position: relative;
  top: 0;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
}
.page .content .fixed-btn-page {
  position: fixed;
  top: 500px;
  width: 50px;
  height: 50px;
  z-index: 8;
  bottom: 0px;
  left: 90%;
  right: 0;
  text-align: end;
}
.page .content .fixed-btn-page .fixed-btn {
  background: #01b1f8;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 15px 15px;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 100%;
  text-decoration: none;
}
.page .content .fixed-btn-page .fixed-btn:hover {
  background: #0d749c;
}
.page .content .fixed-btn-page .fixed-btn:active {
  transform: scale(0.95);
}
.page .content .contact-us {
  display: flex;
  flex-direction: column;
}
.page .content .contact-us .title-contact-us {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.page .content .contact-us .info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-top: 50px;
  align-self: center;
}
.page .content .contact-us .info .vk-contact {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .vk-contact .text-vk-contact {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .contact-us .info .phone {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .phone .text-phone {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .contact-us .info .sms {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .sms .text-sms {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .contact-us .info .gps {
  width: 50%;
  padding: 0px 0px 50px 0;
  display: flex;
  font-size: 15px;
  color: #fff;
}
.page .content .contact-us .info .gps .text-gps {
  color: #a7aeb9;
  font-size: 16px;
  font-family: Arial;
  padding: 0px 0px 0px 10px;
}
.page .content .form-send-message {
  padding-left: 25%;
}
.page .content .form-send-message form {
  background-color: #19202a;
  width: 50%;
  padding: 55px;
}
.page .content .form-send-message form .input-form {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 50px 0px;
}
.page .content .form-send-message form .input-form span {
  color: #fff;
}
.page .content .form-send-message form .input-form span input {
  color: #fff;
  background-color: #19202a;
  outline: none;
  border: 0;
  padding-left: 20px;
}
.page .content .form-send-message form textarea {
  width: 100%;
  background-color: #19202a;
  border: 1px solid #323841;
  outline: none;
}
.page .content .form-send-message form .btn {
  text-align: end;
}
