html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.special-btn {
  background: #19202a;
  outline: none;
  border: 0;
  margin: 0px 20px 20px 0px;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 35px;
  color: #fff;
  transition: all 0.3s ease;
}
.special-btn:hover {
  background-color: #0375a1;
}
.special-btn:active {
  transform: scale(0.95);
}
.page {
  background: #1d2733;
}
.page .question-answer {
  padding-bottom: 50px;
  overflow: hidden;
}
.page .question-answer .title-question-answer {
  text-align: center;
  padding: 100px 0px;
}
.page .question-answer .title-question-answer .main-title {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.page .question-answer .title-question-answer .second-title {
  color: #01b1f8;
  font-size: 25px;
  font-weight: bold;
}
.page .question-answer .title-question-answer .text-title-question-answer {
  color: #67768d;
  font-size: 16px;
  padding-left: 400px;
  font-weight: bold;
}
.page .question-answer .tab-container .tab-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.page .question-answer .tab-container .tab-list .tab {
  background: #19202a;
  outline: none;
  border: 0;
  margin: 0px 20px 20px 0px;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 35px;
  color: #fff;
  transition: all 0.3s ease;
}
.page .question-answer .tab-container .tab-list .tab:hover {
  background-color: #0375a1;
}
.page .question-answer .tab-container .tab-list .tab:active {
  transform: scale(0.95);
}
.page .question-answer .tab-container .content-wrap {
  margin-top: 50px;
  position: relative;
}
.page .question-answer .tab-container .content-wrap .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
.page .question-answer .tab-container .content-wrap .content.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.page .question-answer .tab-container .content-wrap .content .title-content-tab {
  color: #fff;
  font-size: 30px;
}
.page .question-answer .tab-container .content-wrap .content p {
  line-height: 170%;
  color: #9aaaba;
  font-size: 15px;
}
.page .view-portfolio {
  background-image: url(../img/project-work-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 200px 0;
  background-repeat: no-repeat;
}
.page .view-portfolio .bg-blue {
  background: rgba(29, 39, 51, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.page .view-portfolio .content-view-portfolio {
  position: relative;
  z-index: 5;
  text-align: center;
}
.page .view-portfolio .content-view-portfolio .title-view-portfolio {
  font-size: 30px;
  color: #fff;
}
.page .view-portfolio .content-view-portfolio .all-button {
  margin-top: 40px;
}
