.slider .slick-dots {
  display: flex;
  position: absolute;
  top: 40px;
  left: 50%;
  right: 0;
  z-index: 1;
}
.slider .slick-dots button {
  border-radius: 100%;
  outline: none;
  border: 0;
  font-size: 0;
  padding: 3px;
  cursor: pointer;
  background-color: #838e9e;
  margin-right: 5px;
}
.slider .slick-dots .slick-active button {
  background-color: #fff;
}
.works-list .slick-dots {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.works-list .slick-dots button {
  outline: none;
  border: 0;
  font-size: 0;
  padding: 1px 10px;
  cursor: pointer;
  background-color: #838e9e;
  margin-right: 15px;
}
.works-list .slick-dots .slick-active button {
  background-color: #fff;
}
