html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.btn {
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.page .left-bar {
  position: relative;
  padding: 0px 605px 200px 80px;
  background-image: url(../img/build.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .left-bar .grey-bg {
  background: rgba(29, 39, 51, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.page .left-bar .conteiner {
  position: absolute;
}
.page .left-bar .conteiner .title {
  width: 200px;
  padding-top: 19px;
}
.page .left-bar .conteiner .title .first-title {
  font-size: 15px;
  color: #92a1b6;
}
.page .left-bar .conteiner .title .second {
  font-size: 25px;
  padding-top: 10px;
  color: #fff;
  width: 150px;
}
.page .left-bar .conteiner .second-title {
  padding-top: 130px;
}
.page .left-bar .conteiner .second-title .first {
  padding-bottom: 50px;
  font-size: 30px;
  color: #fff;
  transition: all 0.2s ease;
}
.page .left-bar .conteiner .second-title .first:hover {
  color: #018301;
  cursor: pointer;
}
.page .left-bar .conteiner .second-title .second {
  padding-bottom: 50px;
  font-size: 30px;
  color: #fff;
  transition: all 0.2s ease;
}
.page .left-bar .conteiner .second-title .second:hover {
  cursor: pointer;
  color: #002efa;
}
.page .left-bar .conteiner .second-title .third {
  font-size: 30px;
  color: #fff;
  transition: all 0.2s ease;
}
.page .left-bar .conteiner .second-title .third:hover {
  cursor: pointer;
  color: #ffff00;
}
.page .left-bar .conteiner .social-network {
  padding: 160px 0px 0px 0px;
  display: flex;
}
.page .left-bar .conteiner .social-network .vk-icon {
  color: #577ca4;
  text-decoration: none;
  padding-right: 20px;
}
.page .left-bar .conteiner .social-network .vk {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #577ca4;
}
.page .left-bar .conteiner .social-network .dribble-icon {
  color: #ea4c89;
  text-decoration: none;
  padding: 0px 20px;
}
.page .left-bar .conteiner .social-network .db {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #577ca4;
}
.page .right-bar {
  width: 55%;
  background: #1d2733;
}
.page .right-bar .content {
  display: flex;
  flex-wrap: wrap;
}
.page .right-bar .content .about {
  text-decoration: none;
  padding: 0px 10px;
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .right-bar .content .about .container-about {
  padding: 25px 0px 16px 20px;
}
.page .right-bar .content .about .container-about .megaphone {
  color: #006cf8;
  font-size: 40px;
  padding: 20px 20px 20px 20px;
}
.page .right-bar .content .about .container-about .text-about {
  color: #fff;
  padding-top: 60px;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.page .right-bar .content .list-client {
  text-decoration: none;
  padding: 0px 10px;
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .right-bar .content .list-client .container-list-client {
  padding: 25px 0px 16px 20px;
}
.page .right-bar .content .list-client .container-list-client .case {
  color: #006cf8;
  font-size: 40px;
  padding: 20px 20px 20px 20px;
}
.page .right-bar .content .list-client .container-list-client .text-client {
  color: #fff;
  padding-top: 60px;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.page .right-bar .content .portfolio {
  text-decoration: none;
  padding: 0px 10px;
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .right-bar .content .portfolio .container-portfoliot {
  padding: 25px 0px 16px 20px;
}
.page .right-bar .content .portfolio .container-portfoliot .tv {
  padding: 20px 20px 20px 20px;
  color: #006cf8;
  font-size: 40px;
}
.page .right-bar .content .portfolio .container-portfoliot .text-portfolio {
  color: #fff;
  padding-top: 60px;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.page .right-bar .content .project {
  text-decoration: none;
  padding: 0px 10px;
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .right-bar .content .project .container-project {
  padding: 25px 0px 16px 20px;
}
.page .right-bar .content .project .container-project .camera {
  color: #006cf8;
  font-size: 40px;
  padding: 20px 20px 20px 20px;
}
.page .right-bar .content .project .container-project .text-project {
  color: #fff;
  padding-top: 60px;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.page .right-bar .content .question-answer {
  text-decoration: none;
  padding: 0px 10px;
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .right-bar .content .question-answer .container-question-answer {
  padding: 25px 0px 16px 20px;
}
.page .right-bar .content .question-answer .container-question-answer .glasses {
  padding: 20px 20px 20px 20px;
  color: #006cf8;
  font-size: 40px;
}
.page .right-bar .content .question-answer .container-question-answer .text-answer {
  color: #fff;
  padding-top: 60px;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.page .right-bar .content .contacts {
  text-decoration: none;
  padding: 0px 10px;
  background: #19202a;
  width: 45%;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .right-bar .content .contacts .container-contacts {
  padding: 25px 0px 16px 20px;
}
.page .right-bar .content .contacts .container-contacts .pin {
  color: #006cf8;
  font-size: 40px;
  padding: 20px 20px 20px 20px;
}
.page .right-bar .content .contacts .container-contacts .text-contacts {
  color: #fff;
  padding-top: 60px;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
