// out: css/about.css
html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.page {
    background-color: #19202a;

    .header {
        background-image: url(../img/header-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;

        .bg-blue {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(29, 39, 51, 0.9);
        }

        .fixed-btn-page {
            position: fixed;
            top: 500px;
            width: 50px;
            height: 50px;
            z-index: 8;
            bottom: 0px;
            left: 90%;
            right: 0;
            text-align: end;

            .fixed-btn {
                background: #01b1f8;
                outline: none;
                border: 0;
                cursor: pointer;
                padding: 15px 15px;
                color: #fff;
                transition: all 0.3s ease;
                border-radius: 100%;
                text-decoration: none;

                &:hover {
                    background: #0d749c;

                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }


        .top-header {
            position: relative;
            z-index: 1;

            .logo {
                display: inline-block;
                color: #fff;
                float: left;
                width: 130px;
                text-decoration: none;
                font-size: 20px;
            }

            .menu {
                display: inline-block;
                padding-left: 100px;
                padding-top: 20px;

                ul {
                    li {
                        display: inline-block;
                        padding-right: 20px;

                        a {
                            color: #fff;
                            font-size: 12px;
                            letter-spacing: .7px;
                            text-transform: uppercase;
                            padding-right: 20px;

                            &:hover {
                                color: #32b4ff;
                            }
                        }
                    }
                }
            }

            .social-network {
                display: inline-block;
                float: right;
                padding-right: 20px;
                padding-top: 20px;

                .vk-icon {
                    color: #7d8da7;
                    font-size: 13px;
                    text-decoration: none;
                    padding-right: 20px;
                    display: inline-block;

                    .vk {
                        color: #7d8da7;
                        position: relative;
                        padding-left: 5px;
                        font-size: 13px;
                    }
                }

                .dribble-icon {
                    color: #7d8da7;
                    font-size: 13px;
                    text-decoration: none;
                    display: inline-block;
               
                    .dribble {
                        color: #7d8da7;
                        font-size: 13px;
                        text-decoration: none;
                        padding-right: 15px;
                        display: inline-block;
                    }
                }
            }
        }

        .down-header {
            text-align: center;
            padding: 200px 100px 0px 100px;
            position: relative;
            z-index: 1;
            height: 60vh;
           
            .text {
                #typed-strings {
                    .title-down-header {
                        opacity: 0;       
                    }  
                }
            
                #typed {
                    font-size: 34px;
                    line-height: 170%;
                    font-family: Rubik;
                    font-weight: 300;
                    color: #fff;
                }   
                       
                .typed-cursor {
                    margin-left: 1px;
                    color: #2ec2fe;
                    font-size: 34px;         
                }
            }
    
            .btn-down-header {
                padding-top: 20px;

                .us-work {
                    padding-left: 20px;
                }
            }
        }
    }

    .directions {
        padding: 50px 0px;

        .title-directions {
            text-align: center;

            .first-title-directions {
                color: #01b1f8;
                font-size: 40px;
                text-align: center;
            }

            .second-title-directions {
                color: #fff;
                font-size: 40px;
                padding-top: 80px;
                text-align: center;
            }
        }

        .cards {
            display: flex;
            padding-top: 50px;
            overflow: hidden;

            .card {
                text-align: center;
                padding: 0 20px;

                .icon {
                    color: #0d749c;
                    font-size: 40px;
                }

                .title-card {
                    color: #fff;
                    font-size: 20px;
                    padding: 20px 0px;
                }


                .text-card {
                    color: #828fa2;
                    font-size: 16px;
                    line-height: 170%;
                }
            }
        }

        .btn-directions {
            text-align: center;
            padding-top: 50px;
        }

    }
    
    .about-section {
        overflow: hidden;
        background: #1d2733;

        .strategy {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .content-strategy {
                display: flex;
                justify-content: space-between;
                padding-top: 100px;

                .description-strategy {
                    position: relative;
                    padding-left: 20px;
                    align-self: center;

                    .vertical-title-strategy {
                        color: #828fa2;
                        text-transform: uppercase;
                        font-size: 50px;
                        z-index: 5;
                        right: 520px;
                        top: 30px;                                
                        position: absolute;
                        transform: rotate(270deg);
                    }
                    
                    .overlay {
                        
                        .title-strategy {
                            width: 100%;
                            padding-bottom: 20px;

                            .first-title-strategy {
                                font-size: 30px;
                                color: #24c271;
                                padding-bottom: 20px;
                            }

                            .second-title-strategy {
                                font-size: 30px;
                                color: #fff;
                                padding-bottom: 20px;
                            }
                        }

                        .text-strategy {
                            line-height: 170%;
                            font-size: 16px;
                            align-self: flex-end;
                            color: #828fa2;
                        }
                    }
                }
                
                img {
                    height: 100%;
                    width: 50%;
                }
            }
        }

        .ux-design {
            display: flex;
            overflow: hidden;

            .content-ux-design {
                display: flex;

                .img-ux-design {
                    width: 50%;
                }

                .description-ux-design {
                    padding-top: 100px;
                    padding-left: 20px;
                    position: relative;

                    .title-ux-design {
                        width: 35%;
                        padding-bottom: 20px;

                        .first-part-title {
                            color: #fff;
                            font-size: 30px;

                        }

                        .second-part-title {
                            color: #01b1f8;
                            font-size: 30px;
                            padding-bottom: 20px;
                        }
                    }

                    .text-ux-design {
                        line-height: 170%;
                        font-size: 16px;
                        color: #828fa2;
                    }
                }

                .vertical-title-design {
                    color: #828fa2;
                    text-transform: uppercase;
                    font-size: 50px;
                    z-index: 5;
                    bottom: 250px;
                    right: -35px;
                    position: absolute;
                    transform: translate(55%) rotate(90deg);
                }
            }
        }

        .technologies {
            overflow: hidden;
            padding-bottom: 250px;

            .content-technologies {
                display: flex;
                position: relative;

                .vertica-text {
                    color: #828fa2;
                    text-transform: uppercase;
                    font-size: 50px;
                    z-index: 5;
                    top: 170px;
                    left: -250px;
                    position: absolute;
                    transform: rotate(270deg);
                }

                .description-technologies {
                    padding-top: 50px;
                    padding-left: 20px;

                    .title-description-technologies {
                        padding-bottom: 20px;

                        .first-title-description {
                            font-size: 30px;
                            color: #fff;
                        }

                        .second-title-description {
                            color: #f5b327;
                            font-size: 30px;
                        }
                    }

                    .text-description-technologies {
                        line-height: 170%;
                        font-size: 16px;
                        padding-right: 100px;
                        color: #828fa2;
                    }
                }

                .img-technologies {
                    width: 40%;
                    height: 100%;
                }
            }
        }
    }

    .service-section {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/services.jpeg);
        position: relative;

        .bg-service-section-blue {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(29, 39, 51, 0.9);
        }

        .content {
            position: relative;
            top: 0;
            padding: 250px 0px;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;


            .first-description {
                .title-first-description {
                    font-size: 25px;
                    color: #828fa2;
                    padding-bottom: 20px;
                }

                .title-second-description {
                    .default-color {
                        font-size: 30px;
                        color: #fff;
                        padding-left: 10px;
                    }

                    .special-color {
                        color: #01b1f8;
                        font-size: 30px;
                    }
                }

                .title-general {
                    padding-bottom: 20px;
                }

                .text-service {
                    color: #828fa2;
                    font-size: 18px;
                    width: 50%;
                    padding-left: 25%;
                    line-height: 170%;
                    padding-bottom: 50px;
                }
            }
        }


    }

    .project-about {
        padding-bottom: 100px;
        overflow: hidden;

        .title-project-about {
            text-align: center;
            padding: 100px 0px 50px 0px;

            .first-title-project-about {
                font-size: 25px;
                color: #01b1f8;
            }

            .second-title-project-about {
                font-size: 25px;
                color: #fff;
            }

        }

        .content {
            display: flex;
            justify-content: space-around;

            .card {
                width: 30%;

                .img-card {
                    height: 200px;
                    width: 100%;
                    border-radius: 5px;
                }

                .description-card {
                    text-align: center;
                    padding: 0px 20px;

                    .title-card {
                        padding: 20px 0px;

                        .first-title-description-card {
                            font-size: 20px;
                            color: #fff;
                        }

                        .second-title-description-card {
                            font-size: 20px;
                            color: #01b1f8;
                        }

                        .green {
                            font-size: 20px;
                            color: #24c271;
                        }

                        .white {
                            color: #fff;
                            font-size: 20px;
                        }

                        .blue-text {
                            font-size: 20px;
                            color: #01b1f8;
                        }
                    }

                    .text-card {
                        line-height: 170%;
                        color: #828fa2;
                        padding-bottom: 20px;
                    }
                }

                .go-to {
                    text-decoration: none;
                    color: #0d749c;
                    font-size: 18px;
                    padding-left: 45%;
                }
            }
        }

    }

    .analytics {
        background-image: url(../img/services.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .bg-blue-analytics {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(29, 39, 51, 0.9);
        }

        .content {
            position: relative;
            top: 0;
            padding: 100px 0px;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;

            .description-analytics {
                .title-analytics {  
                    padding-bottom: 30px;

                    .first-part-title-analitycs {
                        font-size: 30px;
                        color: #fff;
                    }

                    .second-part-title-analitycs {
                        color: #01b1f8;
                        font-size: 30px;
                    }

                    .three-part-title-analitycs {
                        font-size: 30px;
                        color: #fff;
                    }
                }

                .text-analytics {
                    color: #828fa2;
                    font-size: 16px;
                    line-height: 170%;
                    width: 50%;
                    padding-left: 25%;
                    padding-bottom: 30px;
                }
            }
        }
    }

    .presention-us-project {
        padding: 50px 0px;
        overflow: hidden;

        .header-presention-us-project {
            text-align: center;
            padding-top: 50px;

            .title-presention-us-project {
                padding-bottom: 40px;

                .first-title-presention-us-project {
                    color: #fff;
                    font-size: 30px;
                    padding-right: 5px;
                }

                .second-title-presention-us-project {
                    color: #01b1f8;
                    font-size: 30px;
                }                
            }

        }

        .img-presention-us-project {
            width: 100%;
            padding-top: 40px;
        }
    }

    .leader-areas {
        background-image: url(../img/services.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .bg-blue-leader-areas {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(29, 39, 51, 0.9);
        }

        .content {
            position: relative;
            top: 0;
            padding: 100px 0px;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;

            .header-leader-areas {
                padding-bottom: 80px;

                .first-title-header-leader-areas{
                    font-size: 30px;
                    color: #fff;
                    padding-right: 10px;
                }
          
                .second-title-header-leader-areas {
                    font-size: 30px;
                    color: #01b1f8;
                    padding-right: 10px;
                }
           
                .three-title-header-leader-areas {
                    font-size: 30px;
                    color: #fff;
                }
            }

            .down-leader-areas {
                .down-leader-areas-first {
                    display: flex;
                    justify-content: space-around;

                    img {
                        height: 90px;
                        max-width: 100%;
                        padding-bottom: 50px;
                    }
                }

                .down-leader-areas-second {
                    display: flex;
                    justify-content: space-around;
                   
                    img {
                        height: 90px;
                        max-width: 100%;
                        padding-bottom: 50px;
                    }
                }
            }
        }
    }

}