// out: ../css/client.css
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.page {
    background: #1d2733;

    .header {
        padding: 50px;

        .logo {
            display: inline-block;
            color: #fff;
            float: left;
            width: 130px;
            font-size: 20px;
        }
    
        .menu {
            display: inline-block;
            padding-left: 150px;
            padding-top: 20px;
    
            ul {
                li {
                    display: inline-block;
                    padding-right: 25px;
    
                    a {
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
    
                        &:hover {
                            color: #32b4ff;
                        }
                    }
                }
            }
        }
    
        .social-network {
            display: inline-block;
            float: right;
            padding-right: 20px;
            padding-top: 20px;
    
            .vk {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                padding-right: 20px;
                display: inline-block;
    
            }
    
            .dribble {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }
    
    }

    .client {
        .title-client {
            text-align: center;
            padding-bottom: 50px;
            
            .title-standart-color {
                color: #fff;
                font-size: 30px;
                font-weight: bold;
            }

            .title-blue-color  {
                color: #01b1f8;
                font-size: 30px;
                font-weight: bold;
            }
        }
        
        .small-academy-scenice {
            display: flex;
            justify-content: space-between;
           
            .description {
                width: 30%;
                align-self: center;
                padding-left: 50px;

                .title-description-academy {
                    font-size: 25px;
                    padding-bottom: 20px;
                    color: #fff;
                }
               
                .text-description-academy {
                    line-height: 170%;
                    color: #67768d;
                    font-size: 16px;
                    padding-bottom: 20px;
                }
            
                .btn-description-academy {
                    background-color: #01b1f8;
                    outline: none;
                    border: 0;
                    padding: 10px 30px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 20px;
                    transition: all 0.3s ease;
    
                    &:hover {
                        background-color: #0375a1;
                    }
    
                    &:active {
                        transform: scale(0.95);
                    }
                }    
            }
            
            .img-description-academy {
                width: 50%;
                filter: brightness(80%);
                transition: all 0.3s ease;

                &:hover {
                    filter: brightness(100%);
                }
            }
        }
        .ONPU {
            display: flex;
            padding-bottom: 50px;

            .img-onpu {
                width: 50%;
                filter: brightness(80%);
                transition: all 0.3s ease;

                &:hover {
                    filter: brightness(100%);
           
                }          
            }
            .description-onpu {
                align-self: center;
                width: 30%;
                padding-left: 100px;
                .title-description-onpu {
                    font-size: 25px;
                    color: #fff;
                    padding-bottom: 20px;
                }

                .text-description-onpu {
                    line-height: 170%;
                    color: #67768d;
                    font-size: 16px;
                    padding-bottom: 20px;
                }
                
                .btn-description-onpu {
                    background-color: #01b1f8;
                    outline: none;
                    border: 0;
                    padding: 10px 30px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 20px;
                    transition: all 0.3s ease;
    
                    &:hover {
                        background-color: #0375a1;
                    }
    
                    &:active {
                        transform: scale(0.95);
                    }
                }
            }

        }
        
        .view-portfolio {
            
            background-image: url(../img/project-work-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            
            .bg-blue {
                position: absolute;
                top: 0;
                bottom: 0;
                background-color: #19222c;
                left: 0;
                opacity: 0.8;
                right: 0;
            }
            
            .content-view-portfolio {
                padding: 200px 0px;
                text-align: center;
                position:  relative;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;

                .title-view-portfolio {
                    color: #fff;
                    font-size: 30px;
                    padding-bottom: 20px;
                }
                
                .btn-view-portfolio {
                    background-color: #01b1f8;
                    outline: none;
                    border: 0;
                    padding: 10px 30px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 20px;
                    transition: all 0.3s ease;
    
                    &:hover {
                        background-color: #0375a1;
                    }
    
                    &:active {
                        transform: scale(0.95);
                    }
                }
            }
        }
   
    }


    .footer {
        display: flex;
        padding: 50px 20px 0px 20px;
        flex-wrap: wrap;

        .main-info {
            width: 23%;

            .title-main-info {
                color: #fff;
                padding-bottom: 20px;
                width: 130px;
                font-size: 20px;
            }

            .text-main-info {

                .first-text {
                    line-height: 150%;
                    font-size: 16px;
                    padding-bottom: 10px;
                    color: #67768d;
                }

                .second-text {
                    line-height: 150%;
                    color: #67768d;
                    border-left: 3px solid #32b4ff;
                    font-size: 16px;
                    padding-left: 10px;
                }
            }
        }

        .page-nav {
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-page {
                font-size: 20px;
                font-weight: bold;
                padding-right: 30px;
                color: #fff;
            }

            .menu {
                padding-top: 20px;
                padding-left: 50px;

                li {
                    list-style: outside;
                    color: #838e9e;
                    padding-bottom: 10px;

                    a {
                        text-decoration: none;
                        color: #67768d;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #32b4ff;

                        }
                    }
                }
            }
        }

        .info {
            width: 23%;

            .title-info {
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                padding-bottom: 20px;
            }

            ul {
                padding-left: 20px;

                li {
                    list-style: outside;
                    padding-bottom: 20px;
                    color: #838e9e;

                    a {
                        text-decoration: none;
                        color: #67768d;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #32b4ff;
                        }
                    }
                }
            }
        }

        .word-form {
            width: 23%;

            .title-word-form {
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                padding-bottom: 20px;
            }

            .btn-form {
                background-color: #01b1f8;
                outline: none;
                border: 0;
                padding: 10px 30px;
                border-radius: 20px;
                color: #fff;
                font-size: 20px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #0375a1;
                }

                &:active {
                    transform: scale(0.95);
                }
            }

            .text-word-form {
                padding-top: 20px;
                color: #67768d;
                font-size: 16px;
                line-height: 150%;
            }
        }
        
        .down-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 20px;
            .text-down-footer {
                
            }
       
            .social-network-footer {
                display: flex;
                .vk-footer {
                    display: flex;
                    text-decoration: none;
                    padding-right: 20px;
                    color: #67768d;
                   
                    .vk-name-footer {
                        color: #67768d;
                        padding-left: 20px;
                    }
                }
                
                .dribble-footer {
                    display: flex;
                    text-decoration: none;
                    color: #67768d;
                    .dribble-name-footer {
                        color: #67768d;
                        padding-left: 20px;
                    }
                }
            }
       
        }
    
    }
}

