// out: ../css/portfolio.css
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.page {
    background: #1d2733;

    .header {
        padding: 50px;

        .logo {
            display: inline-block;
            color: #fff;
            float: left;
            width: 130px;
            font-size: 20px;
        }

        .menu {
            display: inline-block;
            padding-left: 150px;
            padding-top: 20px;

            ul {
                li {
                    display: inline-block;
                    padding-right: 25px;

                    a {
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            color: #32b4ff;
                        }
                    }
                }
            }
        }

        .social-network {
            display: inline-block;
            float: right;
            padding-right: 20px;
            padding-top: 20px;

            .vk {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                padding-right: 20px;
                display: inline-block;

            }

            .dribble {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                display: inline-block;
            }
        }

    }

    .slider {
        position: relative;

        .content-slider {
            display: flex;
            flex-direction: column-reverse;

            .corporate-site {
                .title-corporate-site {
                    text-align: center;
                    font-size: 30px;
                    color: #fff;
                    padding-bottom: 50px;
                }

                .image-corporate-site {
                    display: flex;
                    position: relative;
                    padding: 0px 50px;

                    .left {
                        width: 25%;
                        padding-top: 20px;
                        height: 300px;
                        filter: grayscale(100%);
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0);
                        }
                    }

                    .center {
                        width: 60%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 300px;
                        filter: grayscale(100%);
                        height: 350px;
                        bottom: 0;
                        z-index: 1;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                            filter: grayscale(0);
                        }
                    }

                    .right {
                        padding-left: 50%;
                        padding-top: 20px;
                        filter: grayscale(100%);
                        width: 25%;
                        height: 300px;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0);
                        }
                    }
                }
            }

            .online-store {
                padding-bottom: 100px;

                .title-online-store {
                    text-align: center;
                    font-size: 30px;
                    color: #fff;
                    padding-bottom: 50px;
                }

                .image-online-store {
                    display: flex;
                    padding: 0px 50px;


                    .left-online-store {
                        width: 20%;
                        padding-top: 20px;
                        height: 300px;
                        filter: grayscale(100%);
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0);
                        }
                    }

                    .center-online-store {
                        width: 60%;
                        top: 0;
                        right: 0;
                        left: 300px;
                        filter: grayscale(100%);
                        height: 350px;
                        z-index: 1;
                        bottom: 0;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                            filter: grayscale(0);
                        }
                    }

                    .right-online-store {
                        padding-top: 20px;
                        filter: grayscale(100%);
                        width: 20%;
                        height: 300px;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0);
                        }
                    }
                }
            }


            .design {
                padding-bottom: 100px;

                .title-design {
                    text-align: center;
                    font-size: 30px;
                    color: #fff;
                    padding-bottom: 50px;
                }

                .image-design {
                    display: flex;
                    padding: 0px 50px;

                    .left-design {
                        width: 20%;
                        padding-top: 20px;
                        height: 300px;
                        filter: grayscale(100%);
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0);
                        }
                    }

                    .center-design {
                        width: 60%;
                        top: 0;
                        right: 0;
                        left: 300px;
                        filter: grayscale(100%);
                        height: 350px;
                        z-index: 1;
                        bottom: 0;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                            filter: grayscale(0);
                        }
                    }

                    .right-design {
                        padding-top: 20px;
                        filter: grayscale(100%);
                        width: 20%;
                        height: 300px;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.02);
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }

        .btn-slider {
            position: absolute;
            top: 420px;
            bottom: 0;
            left: 600px;
            right: 0;
            z-index: 5;

            button {
                background-color: #01b1f8;
                outline: none;
                border: 0;
                padding: 10px 30px;
                border-radius: 5px;
                color: #fff;
                font-size: 20px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #0375a1;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .works-list {
        padding: 0px 50px;

        .image-block {
            img {
                width: 400px;
                filter: brightness(80%);
                transition: all 0.3s ease;
                padding-top: 10px;

                &:hover {
                    padding-top: 0;
                    filter: brightness(100%);
                }
            }

            .title-image-block {
                font-size: 20px;
                color: #fff;
                padding-left: 20px;
            }

            .text-block-image {
                font-size: 16px;
                padding-left: 20px;
                color: #67768d;
            }
        }
    }

    .our-work {
        background-image: url(../img/project-work-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        padding: 200px 0;
        background-repeat: no-repeat;

        .bg-dark {
            background: rgba(29, 39, 51, 0.7);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .content {
            position: absolute;
            padding-left: 300px;

            .title-our-work {
                font-size: 30px;
                padding-bottom: 20px;
                color: #fff;
            }

            .container-btn-our-work {
                padding-left: 275px;
                padding-top: 20px;

                .btn-our-work {
                    display: block;
                    background: #01b1f8;
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    padding: 15px 40px;
                    color: #fff;
                    transition: all 0.3s ease;
                    border-radius: 5px;

                    &:hover {
                        background: #0d749c;

                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }


    .footer {
        display: flex;
        padding: 50px 20px 0px 20px;
        flex-wrap: wrap;

        .main-info {
            width: 23%;

            .title-main-info {
                color: #fff;
                padding-bottom: 20px;
                width: 130px;
                font-size: 20px;
            }

            .text-main-info {

                .first-text {
                    line-height: 150%;
                    font-size: 16px;
                    padding-bottom: 10px;
                    color: #67768d;
                }

                .second-text {
                    line-height: 150%;
                    color: #67768d;
                    border-left: 3px solid #32b4ff;
                    font-size: 16px;
                    padding-left: 10px;
                }
            }
        }

        .page-nav {
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-page {
                font-size: 20px;
                font-weight: bold;
                padding-right: 30px;
                color: #fff;
            }

            .menu {
                padding-top: 20px;
                padding-left: 50px;

                li {
                    list-style: outside;
                    color: #838e9e;
                    padding-bottom: 10px;

                    a {
                        text-decoration: none;
                        color: #67768d;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #32b4ff;

                        }
                    }
                }
            }
        }

        .info {
            width: 23%;

            .title-info {
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                padding-bottom: 20px;
            }

            ul {
                padding-left: 20px;

                li {
                    list-style: outside;
                    padding-bottom: 20px;
                    color: #838e9e;

                    a {
                        text-decoration: none;
                        color: #67768d;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #32b4ff;
                        }
                    }
                }
            }
        }

        .word-form {
            width: 23%;

            .title-word-form {
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                padding-bottom: 20px;
            }

            .btn-form {
                background-color: #01b1f8;
                outline: none;
                border: 0;
                padding: 10px 30px;
                border-radius: 20px;
                color: #fff;
                font-size: 20px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: #0375a1;
                }

                &:active {
                    transform: scale(0.95);
                }
            }

            .text-word-form {
                padding-top: 20px;
                color: #67768d;
                font-size: 16px;
                line-height: 150%;
            }
        }

        .down-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 20px;

            .social-network-footer {
                display: flex;

                .vk-footer {
                    display: flex;
                    text-decoration: none;
                    padding-right: 20px;
                    color: #67768d;

                    .vk-name-footer {
                        color: #67768d;
                        padding-left: 20px;
                    }
                }

                .dribble-footer {
                    display: flex;
                    text-decoration: none;
                    color: #67768d;

                    .dribble-name-footer {
                        color: #67768d;
                        padding-left: 20px;
                    }
                }
            }

        }

    }
}