// out:../css/project.css
html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.page {
    background: #1d2733;


    .project-company {

        .title-company {
            padding: 50px 0px 80px 0px;
            text-align: center; 

            .title {
                .blue-text {
                    color: #32b4ff;
                    text-transform: uppercase;
                    font-size: 40px;
                    padding-right: 10px;

                }

                .text {
                    font-size: 40px;
                    text-transform: uppercase;
                    color: #fff;
                } 
            }
        }

        .text-title-visualizer {
            padding-left: 250px;
            font-size: 18px;
            opacity: 0.4;
            color: #fff;
        }
    

        .visualizer {
            padding-bottom: 100px;
            overflow: hidden;

            .three-d-visualizer {
                display: flex;
                justify-content: space-between;

                img {
                    background-position: center;
                    background-size: cover;
                    width: 50%;
                    transition: all 0.3s ease;
                    filter: brightness(80%);
                    border-radius: 5px;

                    &:hover {
                        filter: brightness(100%);
                    }
                }

                .desciption {
                    width: 30%;
                    align-self: center;

                    .title-3d-visualizer {
                        padding-bottom: 20px;

                        .green-title {
                            color: rgb(28, 148, 28);
                            font-size: 30px;
                        }

                        .title {
                            font-size: 30px;
                            color: #fff;
                            text-transform: uppercase;
                        }
                    }

                    .text-3d-visualizer {
                        color: #9aaaba;
                        line-height: 170%;
                        font-size: 16px;
                        padding-bottom: 20px;
                    }

                    .all-button {
                        background: #2ecc71;
                    }
                }
            }
        }
    

        .web-development-courses {
            overflow: hidden;
            padding-bottom: 100px;

            .content {
                display: flex;
                justify-content: space-between;

                .description-web-development-courses {
                    align-self: center;
                    width: 30%;

                    .title-description-web-development-courses {
                        .title-web-development-courses {
                            font-size: 30px;
                            color: #fff;
                        }

                        .title-part-two-web-development-courses {
                            color: #01b1f8;
                            font-size: 30px;
                        }
                    }

                    .text-web-development-courses {
                        line-height: 170%;
                        font-size: 16px;
                        color: #9aaaba;
                        padding: 20px 0px;
                    }
                }

                .img-web-development-courses {
                    width: 50%;
                    transition: all 0.3s ease;
                    border-radius: 5px;
                    filter: brightness(80%);

                    &:hover {
                        filter: brightness(100%);
                    }
                }
            }      
        }

        .ui-library {
           overflow: hidden;

           .content {
                display: flex;
                justify-content: space-between;
                padding-bottom: 80px;

                .img-library {
                    width: 50%;
                    transition: all 0.3s ease;
                    border-radius: 5px;
                    filter: brightness(80%);

                    &:hover {
                        filter: brightness(100%);
                    }
                }

                .describtion-ui-library {
                    width: 30%;

                    .blue-title-ui-library {
                        color: #01b1f8;
                        font-size: 30px;
                        text-transform: uppercase;
                    }

                    .title-ui-library {
                        font-size: 30px;
                        text-transform: uppercase;
                        color: #fff;
                    }

                    .text-ui-library {
                        line-height: 170%;
                        font-size: 16px;
                        color: #9aaaba;
                        padding: 20px 0px;
                    }
                }
            }
        }

        .our-work {
            background-image: url(../img/project-work-bg.jpg);
            background-position: center;
            background-size: cover;
            position: relative;
            padding: 200px 0;
            background-repeat: no-repeat;

            .bg-dark {
                background: rgba(29, 39, 51, 0.7);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }

            .content {
                position: relative;
                z-index: 5;
                text-align: center;

                .title-our-work {
                   font-size: 30px;
                    color: #fff;
                }

                .container-btn-our-work {
                    margin-top: 40px;
                }
            }
        }
    }
}