html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

//  mixin tab's button 
.special-btn {
    background: #19202a;
    outline: none;
    border: 0;
    margin: 0px 20px 20px 0px;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 35px;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        background-color: #0375a1;
    }

    &:active {
        transform: scale(0.95);
    }
}

.page {
    background: #1d2733;

    .question-answer {
        padding-bottom: 50px;
        overflow: hidden;

        // main info page  
        .title-question-answer {
            text-align: center;
            padding: 100px 0px;

            .main-title {
                color: #fff;
                font-size: 25px;
                font-weight: bold;
            }

            .second-title {
                color: #01b1f8;
                font-size: 25px;
                font-weight: bold;
            }

            .text-title-question-answer {
                color: #67768d;
                font-size: 16px;
                padding-left: 400px;
                font-weight: bold;
            }

        }

        .tab-container {

            .tab-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .tab {
                    .special-btn;
                }
            }

            .content-wrap {
                margin-top: 50px;
                position: relative;
            
                .content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    visibility: hidden;

                    &.active {
                        position: relative;
                        opacity: 1;
                        visibility: visible;
                    }
                    
                    .title-content-tab {
                        color: #fff;
                        font-size: 30px;
                    }

                    p {
                        line-height: 170%;
                        color: #9aaaba;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    // block in have link to partfolio
    .view-portfolio {
        background-image: url(../img/project-work-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        padding: 200px 0;
        background-repeat: no-repeat;

        .bg-blue {
            background: rgba(29, 39, 51, 0.7);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .content-view-portfolio {
            position: relative;
            z-index: 5;
            text-align: center;

            .title-view-portfolio {
                font-size: 30px;
                color: #fff;
            }

            .all-button {
                margin-top: 40px;
            }
        }
    }
}