// out: ../css/style.css
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.btn {
    background: #19202a;
    width: 300px;
    outline: none;
    border: 0;
    cursor: pointer;
    margin: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    display: flex;
    justify-content: space-between;

    .left-bar {
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        background-size: cover;
        padding: 0px 605px 0px 80px;
        background-image: url(../img/build.jpg);
        .image;

        .grey-bg {
            background: rgba(29,39,51,0.7);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .conteiner {
            position: absolute;
            .title {
                width: 200px;
                padding-top: 20px;
    
                .first-title {
                    font-size: 15px;
                    color: #92a1b6;
                }
    
                .second {
                    font-size: 25px;
                    padding-top: 10px;
                    color: #fff;
                    width: 150px;
                }
            }
    
            .second-title {
                padding-top: 130px;
    
                .first {
                    padding-bottom: 50px;
                    font-size: 30px;
                    color: #fff;
                    transition: all 0.2s ease;
    
                    &:hover {
                        color: rgb(1, 131, 1);
                        cursor: pointer;
                    }
                }
    
                .second {
                    padding-bottom: 50px;
                    font-size: 30px;
                    color: #fff;
                    transition: all 0.2s ease;
    
                    &:hover {
                        cursor: pointer;
                        color: rgb(0, 46, 250);
                    }
                }
    
                .third {
                    font-size: 30px;
                    color: #fff;
                    transition: all 0.2s ease;
    
                    &:hover {
                        cursor: pointer;
                        color: rgb(255, 255, 0);
                    }
                }
            }
    
            .social-network {
                padding: 200px 0px 21px 0px;
                display: flex;
                .vk {
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    padding-right: 20px;
                    display: flex;
    
                    &:hover {
                        color: rgb(26, 26, 153);
                    }

                    p {
                        padding-left: 20px;
                    }
                }
    
                .dribble {
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    padding-left: 20px;
                    display: flex;
    
                    &:hover {
                        color: rgb(255, 69, 0);
                    }
                }
            }
        }
    }

    .right-bar {
        display: flex;
        flex-wrap: wrap;
        width: 665px;
        background: #1d2733;
        .about {
            .megaphone {
                color: rgb(0, 108, 248);
                padding: 20px 20px 65px 20px;
                font-size: 40px;
            }

            .text-about {
                padding-top: 65px;
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
            }

            .btn
        }

        .list-client {
            .case {
                color: rgb(0, 108, 248);
                font-size: 40px;
                padding: 20px 20px 65px 20px;
            }

            .text-client {
                color: #fff;
                font-size: 25px;
                padding-top: 65px;
                text-transform: uppercase;
            }

            .btn
        }

        .portfolio {
            .tv {
                padding: 20px 20px 65px 20px;
                color: rgb(0, 108, 248);
                font-size: 25px;
            }

            .text-portfolio {
                color: #fff;
                padding-top: 65px;
                font-size: 25px;
                text-transform: uppercase;
            }

            .btn
        }

        .us-project {
            .camera {
                color: rgb(0, 108, 248);
                font-size: 40px;
                padding: 20px 20px 65px 20px;
            }

            .text-project {
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
            }

            .btn
        }

        .question-answer {
            .glasses {
                padding: 20px 20px 65px 20px;
                color: rgb(0, 108, 248);
                font-size: 40px;
            }

            .text-answer {
                padding-top: 65px;
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
            }

            .btn
        }

        .contacts {
            .pin {
                color: rgb(0, 108, 248);
                font-size: 40px;
                padding: 20px 20px 65px 20px;
            }

            .text-contacts {
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
            }

            .btn
        }
    }
}